body {
    background-color: antiquewhite;
}

.title {
    color: black !important;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
    color: blue;
}

.item {
    position: relative;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background-color: gray;
}

.label-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.item:hover {
    height: 377px;
}

.item:hover .meme-container {
    top: 50px;
    transition: .5s;
}

.item:hover .label-container .cross {
    transform: rotate(45deg);
    transition: .3s;
}

.meme-container {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.meme-title {
    font-size: 1.5em;
    font-weight: bold;
}

.cross {
    display: none;

    width: 70px;
    height: auto;
}

.cross1 {
    transform: rotate(45deg);
}

.meme {
    max-width: 300px;
    height: auto;
}

.meme-container2 {
    position: absolute;
    top: -10000px;
}

.meme-container3 {
    position: absolute;
    top: -10000px;
}

.meme-container4 {
    position: absolute;
    top: -10000px;
}

.meme-container5 {
    position: absolute;
    top: -10000px;
}

.container:hover {
    color: black;
}

.container:hover .item .label-container .cross {
    display: block;
}